examples/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environments
.env
.venv
env/
venv/

# Conda
.conda/

# Editor
.vscode/
.idea/
*.swp
*~


# OS
.DS_Store
Thumbs.db


